{{define "main"}}
<html>
  <body style="background: #FAFAFA; padding: 20px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: #FFFFFF; max-width: 600px; margin: auto; border-radius: 10px;">
      <tr>
        <td align="center" style="padding: 20px;">
          <img src="{{.LogoUrl}}" alt="{{.SiteName}}" style="width: 200px; height: auto;"/>
        </td>
      </tr>
      <tr>
        <td align="left" style="padding: 10px 20px; font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #212121;">
          {{.Greeting}}
        </td>
      </tr>
      <tr>
        <td align="left" style="padding: 10px 20px; font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #212121;">
          {{template "content" .}}
        </td>
      </tr>
      <tr align="center">
        <td style="padding: 20px;">
          {{template "action" .}}
        </td>
      </tr>
      <tr>
        <td align="center" style="padding: 20px; font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #212121;">
          {{.Footer}}
        </td>
      </tr>
    </table>
  </body>
</html>
{{end}}