services:
  app:
    build:
      context: ./app
    restart: unless-stopped
    environment:
      OAUTH_CLIENTID: komunitin-app
      MOCK_ENABLE: false
      AUTH_URL: ${ICES_URL}/oauth2
      SOCIAL_URL: ${ICES_URL}/ces/api/social
      FILES_URL: ${ICES_URL}/ces/files
      ACCOUNTING_URL: ${KOMUNITIN_ACCOUNTING_URL}
      NOTIFICATIONS_URL: ${KOMUNITIN_NOTIFICATIONS_URL}
      PUSH_SERVER_KEY: ${PUSH_SERVER_KEY}
      GTAG_ID: ${GTAG_ID}

  redis:
    image: redis:7
    restart: unless-stopped
  
  notifications:
    build:
      context: ./notifications
    depends_on:
      - redis
    restart: unless-stopped
    environment:
      KOMUNITIN_ACCOUNTING_URL: http://accounting:2025
      KOMUNITIN_SOCIAL_URL: http://integralces:2029/ces/api/social
      KOMUNITIN_AUTH_URL: http://integralces:2029/oauth2
      KOMUNITIN_APP_URL: ${KOMUNITIN_APP_URL}
      NOTIFICATIONS_CLIENT_ID: komunitin-notifications
      NOTIFICATIONS_CLIENT_SECRET: ${KOMUNITIN_NOTIFICATIONS_SECRET}
      NOTIFICATIONS_EVENTS_USERNAME: komunitin
      NOTIFICATIONS_EVENTS_PASSWORD: ${KOMUNITIN_NOTIFICATIONS_SECRET}
      MAILERSEND_API_KEY: ${MAILERSEND_API_KEY}
      SEND_MAILS: true
    volumes:
      - "./notifications/komunitin-project-firebase-adminsdk.json:/opt/notifications/komunitin-project-firebase-adminsdk.json"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  db-accounting:
    build:
      context: ./accounting/docker/db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_APP_USER: accounting
      POSTGRES_APP_PASSWORD: accounting
    volumes:
      - db-accounting:/var/lib/postgresql/data

  accounting:
    build:
      context: ./accounting
    ports:
      - "2025:2025"
    depends_on:
      - db-accounting
    restart: unless-stopped
    environment:
      DATABASE_URL: postgresql://accounting:accounting@db-accounting:5432/accounting?schema=public
      MASTER_PASSWORD: ${KOMUNITIN_ACCOUNTING_MASTER_PASSWORD}
      STELLAR_NETWORK: ${STELLAR_NETWORK}
      STELLAR_HORIZON_URL: ${STELLAR_HORIZON_URL}
      STELLAR_FRIENDBOT_URL: ${STELLAR_HORIZON_URL}/friendbot
      STELLAR_CHANNEL_ACCOUNTS_ENABLED: true
      DOMAIN: ${KOMUNITIN_DOMAIN}
      MASTER_PASSWORD_SALT: ${KOMUNITIN_ACCOUNTING_MASTER_PASSWORD_SALT}
      AUTH_JWKS_URL: http://integralces:2029/.well-known/jwks.json
      AUTH_JWT_ISSUER: ${ICES_URL}/
      AUTH_JWT_AUDIENCE: "komunitin-app,komunitin-notifications"
      NOTIFICATIONS_API_URL: http://notifications:2028
      API_BASE_URL: ${KOMUNITIN_ACCOUNTING_URL}
      NOTIFICATIONS_API_USERNAME: komunitin
      NOTIFICATIONS_API_PASSWORD: ${KOMUNITIN_NOTIFICATIONS_SECRET}
      SPONSOR_PRIVATE_KEY: ${KOMUNITIN_ACCOUNTING_SPONSOR_PRIVATE_KEY}
      DOCKER: true
    extra_hosts:
      - "host.docker.internal:host-gateway"

  db-integralces:
    image: mariadb
    restart: unless-stopped
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: yes
      MYSQL_DATABASE: integralces
      MYSQL_USER: integralces
      MYSQL_PASSWORD: integralces
    volumes:
      - db-integralces:/var/lib/mysql

  integralces:
    build:
      context: ../ices
    restart: unless-stopped
    ports:
      - "2029:2029"
    depends_on:
      - db-integralces
    environment:
      NOTIFICATIONS_CLIENT_ID: komunitin-notifications
      NOTIFICATIONS_CLIENT_SECRET: ${KOMUNITIN_NOTIFICATIONS_SECRET}
      NOTIFICATIONS_API_URL: http://notifications:2028
      NOTIFICATIONS_EVENTS_USERNAME: komunitin
      NOTIFICATIONS_EVENTS_PASSWORD: ${KOMUNITIN_NOTIFICATIONS_SECRET}
      MAILERSEND_API_KEY: ${MAILERSEND_API_KEY}
      CES_USER_GOOGLE_MAPS_KEY: ${GOOGLE_MAPS_KEY}
    volumes:
      - "integralces-files:/var/www/html/sites/default"
      - "../ices:/var/www/html/sites/all/modules/ices"
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  db-accounting:
  db-integralces:
  integralces-files:

