// App global CSS classes beyond default Quasar classes.

.text-onprimary
  color: $onprimary
.text-onsecondary
  color: $onsecondary

// 1. Custom background colors
.bg-surface
  background: $surface
.bg-background
  background: $background
.bg-outside
  background: $outside
.bg-error
  background: $error

// 2. custom foreground colors
.text-onprimary
  color: $onprimary
.text-onsecondary
  color: $onsecondary
.text-onsurface
  color: $onsurface
.text-onsurface-m
  color: $onsurface-m
.text-onoutside
  color: $onoutside
.text-onoutside-m
  color: $onoutside-m
.text-icon-dark
  color: $icon-dark
.text-icon-dark-inactive
  color: $icon-dark-inactive
.text-icon-light
  color: $icon-light
.text-icon-light-inactive
  color: $icon-light-inactive

// 3. General purpose helper classes

// Align flat button content with the start of the content, as with card action buttons.
.k-inset-actions-md
  margin-left: -8px;
  
  .q-btn__wrapper 
    padding: 0 8px;
  

