// app global css in Sass form
.main-page

    #logo
        max-width: 90%

    h6
        font-size: 1.85rem
        font-weight: 500
        line-height: 2rem
        letter-spacing: 0.0125em
        color: #000
        opacity: 0.6
        margin: 10px 0 

    .q-page-container
        padding: 50px 10px 4px 10px

    p
        color: #000
        opacity: 0.6
        margin: 8px

    a
        color: #98C725

    .highlights
        font-weight: bold
        width: 100%

    .main-logo
        display: block
        width: 100%

    .box-section-main
        width: 100%
        margin: 20px 0 0 0

    .q-btn
        max-width: 98%
        width: 300px